h1{
    color:white;
}

h2{
    color:white;
}

a{
    text-decoration: none;
    color: white;
}

header{
    background-color: #5172F5;
    color:white;
    padding: 1%;
}

.logo > h1{
    text-align: center;
}

.logo:hover > h1{
    animation: rotate 1s;
}

header > h1{
    display: flex;  
    align-items: flex-end;
}

header > a{
    display: flex;  
    align-items: flex-end;
    color: white;
    text-decoration: none;
}

header > div{
    display: flex;  
    align-items: flex-end;
    color: white;
    text-decoration: none;
}

body{
    background: #c7b39b url(../data/img/gg.jpg);
}

.login{
    display: flex;  
    align-items: flex-end;
}

main{
    height: 600px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}

.question{
    background-color: #75E0A9;
    border-radius:15%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    color: white;
    padding-bottom: 2%;
}

.victor > svg{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.text_question{
    margin: 7%;
    text-align: center;
}

.answers{
    padding-left: 5%;
    padding-right: 5%;
}

.anwswers_buttom{
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
}

footer{
    background-color: #5172F5;
    padding: 5%; 
    color: white;
}

.link > h2{
    font-size: 150%;
}

.link:hover > h2{
    font-size: 170%;
}

.link{
    font-size: 150%;
}

.link:hover{
    font-size: 170%;
    color:white;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}